
.tennis-image {
    margin-top: 100px;
    width: auto;
    height : 300px;
}

.images {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}