
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 500px;
  margin-right: 500px;
}

.login {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

