html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P" !important;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
